body {
    font-family: arial;
    font-size: 14px;
    margin: 0 auto;
    width: 100%;
}
header {
    background-color: #FFFFFF;
    height: 38px;
    margin: 0 auto;
    width: 1010px;
}
h3 {
    color: #ABE2FC;
    font-size: 16px;
    margin: 35px 0 22px;
}
hr {
    background-color: #80ABCE;
    border: 0 none;
    height: 4px;
    margin: 0;
    padding: 0;
    width: 100%;
}
header a {
    color: #808080;
    display: inline;
    margin-right: 15px;
}
.header-archive {
    float: left;
    margin: 9px;
}
.header-login {
    float: right;
    font-size: 12px;
    margin: 12px 100px;
    width: 50px;
}
.header-login a {
    margin-right: 3px;
}
.content {
    background: url("img/content.png") no-repeat scroll center top #00569D;
    height: 1019px;
}
.content-welcome {
    color: #FFFFFF;
    height: 120px;
    padding-top: 40px;
    text-align: center;
}
.logotype {
    margin-bottom: 50px;
    padding: 29px;
}
.block {
    background: none repeat scroll 0 0 #80ABCE;
    border: 4px solid #FFFFFF;
    border-radius: 9px 9px 9px 9px;
    margin: 0 auto;
    opacity: 0.5;
}
.inf {
    height: 157px;
    margin-top: 80px;
    position: absolute;
    width: 994px;
}
.info {
    height: 157px;
    margin-top: 80px;
    position: absolute;
}
.info section {
    color: #FFFFFF;
    display: inline-table;
    text-align: center;
    width: 320px;
}
.info p {
    line-height: 1.2em;
}
.center {
    background-color: transparent;
    height: 1px;
    margin: 0 auto;
    width: 994px;
}
.reg {
    height: 502px;
    margin-top: 100px;
    position: absolute;
    width: 365px;
}
.registration {
    margin-left: 5px;
    margin-top: 87px;
    position: absolute;
    width: 365px;
}
.margin{
    margin-left: 13px;
}
figure input {
    height: 27px;
    margin: 0 auto;
    width: 336px;
    border: 0;
}
figure {
    margin-bottom: 18px;
}
figcaption {
    color: #FFFFFF;
    margin-bottom: 2px;
}
.select-style select{
    background: transparent;
    width: 348px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    overflow: hidden;
    border-radius: 0;
    font-size: 12px;
    color: #00569d;
    -webkit-appearance: none;
    height: 27px;
    outline:none;
    position: absolute;
    clip:rect(0 326px 27px 2px);
    text-decoration: none;
}
/*outer > select {border: none;}*/
.select-style {
    border: none;
    overflow: hidden;
    background: url(img/dc.png) no-repeat right  #fff;
    width: 333px;
    height: 27px;
    font-size: 12px;
    color: #00569d;
    padding: 3px;

}

textarea {
    height: 163px;
    width: 335px;
    resize: none;
    background: url(img/ktr.png) bottom no-repeat #fff;
    border: 0;
}
.submit-registration {
    background: none no-repeat scroll center top #0E65AC;
    border: 0 none;
    border-radius: 0 0 0 0;
    color: #FFFFFF;
    float: right;
    height: 31px;
    letter-spacing: 0.9px;
    line-height: 0.9;
    margin: 0 15px;
    width: 119px;
}
.submit-registration:hover {
    background: none no-repeat scroll center top #00569D;
}
.content-registration {
    margin-top: 200px;
    width: 365px;
}
footer {
    background-color: #FFFFFF;
    height: 396px;
}
.footer-social {
    margin: 0 auto;
    width: 1000px;
}
.footer-plus {
    margin-top: 20px;
}
.footer-plus p {
    color: #4B4B4B;
    margin: 0 auto;
    text-align: center;
}
._information {
    margin: 0 auto;
    width: 970px;
}
.copyright {
    float: left;
    padding-top: 62px;
    width: 800px;
}
.copyright a {
    bottom: 0;
    color: #8C8C8C;
    font-size: 12px;
    text-decoration: none;
}
.social-buttons a {
    margin: 5px;
}
.social-buttons {
    float: right;
    height: 50px;
    padding-top: 43px;
    width: 100px;
}
